<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.e792a8.acme.ui.perspective.AcmePerspectiveFactory"
            icon="icons/codeforces-favicon-16x16.png"
            id="org.e792a8.acme.ui.perspective.AcmePerspective"
            name="AcmE">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.e792a8.acme.AcmeCategory"
            name="AcmE">
      </category>
      <view
            category="org.e792a8.acme.AcmeCategory"
            class="org.e792a8.acme.ui.testpoints.TestPointsView"
            icon="icons/codeforces-favicon-16x16.png"
            id="org.e792a8.acme.ui.testpoints.TestPointsView"
            inject="true"
            name="Test Points">
      </view>
      <view
            category="org.e792a8.acme.AcmeCategory"
            class="org.e792a8.acme.ui.dashboard.DashboardView"
            icon="icons/codeforces-favicon-16x16.png"
            id="org.e792a8.acme.ui.dashboard.DashboardView"
            inject="true"
            name="Dashboard">
      </view>
      <view
            category="org.e792a8.acme.AcmeCategory"
            class="org.e792a8.acme.ui.contests.ContestsView"
            icon="icons/codeforces-favicon-16x16.png"
            id="org.e792a8.acme.ui.contests.ContestsView"
            name="Contests"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.e792a8.acme.wizards"
            class="org.e792a8.acme.ui.contests.NewItemWizard"
            icon="icons/codeforces-favicon-16x16.png"
            id="org.e792a8.acme.ui.contests.NewWizard"
            name="New">
      </wizard>
      <category
            id="org.e792a8.acme.wizards"
            name="AcmE">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.e792a8.acme.ui.editor.CodeEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="cpp,java,py"
            icon="icons/codeforces-favicon-16x16.png"
            id="org.e792a8.acme.ui.editor.CodeEditor"
            name="Code Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.e792a8.acme.ui.editor.CodeEditorInputFactory"
            id="org.e792a8.acme.ui.editor.CodeEditorInputFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.browserSupport">
      <support
            class="org.e792a8.acme.ui.browser.BrowserSupport"
            default="true">
      </support>
   </extension>

</plugin>
